
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    z-index: 1000; 
    
}

.contact-info {
    font-size: 0.9rem;
}

.logo h1 {
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
}


.navbar {
    position: fixed;
    top: 60px; /* Umieszczamy navbar poniżej topbar o jego wysokość (np. 40px) */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #444;
    color: white;
    z-index: 900; /* Ustaw wyższy z-index niż zawartość strony, ale niższy niż topbar */
}
.cart-count {
    background-color: #ff0000;      /* Czerwone tło dla wyróżnienia */
    color: white;                   /* Biały kolor tekstu */
    border-radius: 90%;             /* Zaokrąglony kształt */
    padding: 2px 6px;               /* Padding dla zwiększenia widoczności */
    font-size: 0.8rem;              /* Rozmiar czcionki */
    font-weight: bold;              /* Pogrubienie dla lepszej widoczności */
    position: absolute;
    top: 0px;                      /* Dostosuj, aby licznik był obok napisu "Koszyk" */
    right: -20px;                   /* Dostosuj, aby licznik był w rogu napisu */
    z-index: 1000;                  /* Z-index dla widoczności ponad innymi elementami */
}

.navbar-brand{
    color: #4caf50;
}

.navbar-links {
    display: flex;
    gap: 25px;
}

.nav-item {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}


.hero-header {
    background-image: url('/_assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-buttons .btn {
    padding: 10px 20px;
    margin: 5px;
}


.about-us-section, .menu-section, .offer-section, .team-section, .testimonials-section {
    padding: 40px 20px;
    text-align: center;
}

.about-details, .menu-items, .team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.configuration-step {
    margin: 20px auto;
    text-align: center;
    max-width: 600px;
}

.configuration-step.hidden {
    display: none;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.menu-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 150px;
    transition: 0.3s;
}

.menu-item button {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.menu-item button:hover {
    background-color: #45a049;
}

.offer-section {
    background-color: #333;
    color: white;
}

.offer-section .btn {
    margin-top: 10px;
    color: #45a049;
}


footer {
    background-color: #222;
    color: #bbb;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}

.slider-section {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.owl-carousel .slide-item {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

.overlay h1 {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

.overlay h2 {
    font-size: 2rem;
    margin: 10px 0;
}

.overlay p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-buttons .btn {
    padding: 10px 20px;
    margin: 5px;
    color: white;
    background-color: #333;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.hero-buttons .btn:hover {
    background-color: #555;
}

.featured-cakes-section, .baking-process-section, .popular-products-section, .expanded-footer {
    padding: 40px 20px;
    text-align: center;
}

.cake-gallery, .process-steps, .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.cake-item, .process-step, .product-item, .footer-column {
    flex: 1 1 200px;
    margin: 10px;
}
.cake-item img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
    border-radius: 8px; 
}
.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

